<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo</h1>
    <p><a href="/register">Registrar</a> ou <a href="/login">Login</a></p>

    
    <a href="/create">
        <button>Ver Anotações</button>
    </a>
</body>
</html>
